.App-header {
  background-color: #282c34;
  height: 60px;
  justify-content: center;
  margin-bottom: 15px;
}

.App-title {
  text-align: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
  padding-top: 5px;
}

.lang-select {
  width: 75px;
  font-size: 15px;
  color: black;
  padding-top: 12px;
}